<!-- Describe task in general -->

<p>
    Архитектор собирается спроектировать новое самое высокое здание в городе.<br>
    Для этого ему сперва необходимо определить, какое из существующих зданий является самым высоким.<br>
    Помогите архитектору найти самое высокое здание в городе.<br>
</p>

<p style="text-align: center;">
    <img  title="The highest building" src="{{MEDIA}}example.jpg" alt="example" style="max-height: 283px"/>
</p>

<!-- Explain input and output values -->
<p>
    <strong>Входные данные:</strong> Высота зданий как двумерный {% if is_js %}массив{% else %}список{% endif %}. Высота здания определяется как столбец в {% if is_js %}массиве{% else %}списке{% endif %}.
</p>

<p>
    <strong>Выходные данные:</strong> Номер дома и его высота как {% if is_js %}массив{% else %}список{% endif %} целых чисел (Примечание: в этой задаче, как и в реальной жизни, номера домов начинаются с "1", а не с "0") 
</p>


<!-- Put some usage examples -->
<div class="for_info_only">
    <p>
    <strong>Примеры:</strong>
    </p>
    <pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>

<!-- Here you can explain how it can be used in development and what is usage of this. -->
<!-- The section is optional -->
<p class="for_info_only">
    <strong>Как это используется:</strong>
    <i>
        Работа с двумерными массивами - очень важный навык в жизни программиста.
    </i>
</p>

<!-- Here you can explain some constraints for input-->
<!-- The section is optional -->
<p><strong>Предусловия:</strong>
    <ul>
        <li><i>array width <= 10;</i></li>
        <li><i>array height <= 10;</i></li>
        <li><i>в каждом массиве будет только 1 самое высокое здание.</i></li>
    </ul>
</p>
