<!-- Describe task in general -->

<p>
    Der Hauptarchitekt der Stadt möchte ein neues höchstes Gebäude bauen.<br>
    Sie müssen ihm helfen, das derzeit höchste Gebäude der Stadt zu finden.
</p>

<p style="text-align: center;">
    <img  title="The highest building" src="{{MEDIA}}example.jpg" alt="example" style="max-height: 283px"/>
</p>

<!-- Explain input and output values -->
<p>
   <strong>Eingabe:</strong> Die Höhen der Gebäude als 2D-{% if is_js %}array{% else %}list{% endif %}. Die Gebäudehöhe ist als Spalte in einem{% if is_js %}n Array{% else %} Liste{% endif %} definiert.
</p>

<p>
   <strong>Ausgabe:</strong> Die Nummer des höchsten Gebäudes und seine Höhe als {% if is_js %}array of numbers{% else %}list of integers{% endif %} (Wichtig: In dieser Aufgabe beginnen die Gebäudenummern bei "1", nicht bei "0"). 
</p>


<!-- Put some usage examples -->
<div class="for_info_only">
    <p>
    <strong>Beispiele:</strong>
    </p>
    <pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>

<!-- Here you can explain how it can be used in development and what is usage of this. -->
<!-- The section is optional -->
<p class="for_info_only">
    <strong>Wie es verwendet wird:</strong>
    <i>
        Jeder echte Programmierer sollte wissen, wie man mit den 2D-{% if is_js %}Arrays{% else %}Listen{% endif %} arbeitet.
    </i>
</p>

<!-- Here you can explain some constraints for input-->
<!-- The section is optional -->
<p><strong>Vorbedingungen:</strong>
    <ul>
        <li><i>array width &lt;= 10;</i></li>
        <li><i>array Höhe &lt;= 10;</i></li>
        <li><i>es gibt nur 1 höchstes Gebäude in jedem Array.</i></li>
    </ul>
</p>
